# Virat Kohli : Batting Analysis (2008-2018):
**Virat Kohli** is an Indian cricketer. He was born in Delhi, India on November 5, 1988. Virat is the first player in ICC cricket history to win all 3 ICC awards in a single year- ICC ODI player of the year, ICC Test player of the year and ICC Player of the year award in 2018.

<img src="https://images.thequint.com/thequint%2F2018-01%2F5d369107-8477-4216-a39d-ad806e1d3a0c%2FVirat-century.jpg?rect=0%2C0%2C4650%2C2616&auto=format%2Ccompress&fmt=webp&w=700&dpr=1.0.jpg" width="500" height="500" />

**Born**: November 5, 1988, Delhi, India

**Team**: India national cricket team

**Sport**: Cricket

**Nationality**: India

**Data Dictionary**
1. RunsScored : Number of Runs scored by Kohli in the match.
2. BallsFaced : Number of Balls Faces by Kohli in the match.
3. BattingPosition : Batting position is Virat Kohli's position on the batting order.
4. Dismissal : How Kohli got out in the match or not out. Caught, NO: Not Out, Bowled, Run out, LBW, Stumped, Hit wicket.
5. Inning : An innings is one of the divisions of a match during which one team takes its turn to bat. Two 1st inning or 2nd inning.
6. Opposition : Name of the Opposition team.
7. Year : Year in which the match was played.

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 
from warnings import filterwarnings
filterwarnings("ignore")

In [10]:
# Read Bastman details file
mydata = pd.read_csv('Batsman.csv')

In [11]:
# View first 5 rows
mydata.head()

   RunsScored  BallsFaced  BattingPosition Dismissal  Inning Opposition  Year
0          12          22                2       LBW       1  Sri Lanka  2008
1          37          67                2    Caught       2  Sri Lanka  2008
2          25          38                1   Run out       1  Sri Lanka  2008
3          54          66                1    Bowled       1  Sri Lanka  2008
4          31          46                1       LBW       2  Sri Lanka  2008

In [12]:
#Checking Info
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RunsScored       208 non-null    int64
 1   BallsFaced       208 non-null    int64
 2   BattingPosition  208 non-null    int64
 3   Dismissal        208 non-null    object
 4   Inning           208 non-null    int64
 5   Opposition       208 non-null    object
 6   Year             208 non-null    int64
dtypes: int64(5), object(2)
memory usage: 11.5+ KB

In [13]:
#Shape of the data
mydata.shape

(208, 7)

In [14]:
#Null Value Check
mydata.isnull().sum()

RunsScored         0
BallsFaced         0
BattingPosition    0
Dismissal          0
Inning             0
Opposition         0
Year               0
dtype: int64

In [15]:
# Descriptive summary
mydata.describe()

       RunsScored  BallsFaced  BattingPosition      Inning         Year
count  208.000000  208.000000       208.000000  208.000000   208.000000
mean    49.192308   52.961538         3.264423    1.567308  2013.240385
std     43.797641   39.850548         0.781602    0.496644     2.750477
min      0.000000    0.000000         1.000000    1.000000  2008.000000
25%     10.750000   18.000000         3.000000    1.000000  2011.000000
50%     35.000000   46.500000         3.000000    2.000000  2013.000000
75%     81.250000   83.250000         3.000000    2.000000  2015.000000
max    183.000000  159.000000         7.000000    2.000000  2018.000000

In [16]:
# Descriptive summary for Numeric and Categorical variables
mydata.describe(include="all")

,RunsScored,BallsFaced,BattingPosition,Dismissal,Inning,Opposition,Year
count,208.000000,208.000000,208.000000,208,208.000000,208,208.000000
unique,NaN,NaN,NaN,7,NaN,12,NaN
top,NaN,NaN,NaN,Caught,NaN,Sri Lanka,NaN
freq,NaN,NaN,NaN,121,NaN,45,NaN
mean,49.192308,52.961538,3.264423,NaN,1.567308,NaN,2013.240385
std,43.797641,39.850548,0.781602,NaN,0.496644,NaN,2.750477
min,0.000000,0.000000,1.000000,NaN,1.000000,NaN,2008.000000
25%,10.750000,18.000000,3.000000,NaN,1.000000,NaN,2011.000000
50%,35.000000,46.500000,3.000000,NaN,2.000000,NaN,2013.000000
75%,81.250000,83.250000,3.000000,NaN,2.000000,NaN,2015.000000
max,183.000000,159.000000,7.000000,NaN,2.000000,NaN,2018.000000

## Q-1 What is the percentage for Kohli being Not Out.
**Make a Pie Chart displaying the distribution of Dismissals**

## Q-2 Find the number of times when kohli scored less than or equal to 7 runs?

## Q.4 Use Boxplot to tell the IQR( Inter Quartile Range) middle 50% of runs scored by Kohli?
[Hint: Middle 50% Range= Q3(75%)-Q1(25%)]

## Q. What is the best way that the opposition team bowlers can get Kohli out?

How Kohli got dismissed most of the times?

[Hint: Use countplot]

## Q. Against which opposition team Kohli has played the most in his career?
[Hint: Use Countplot]

## Q. Find out some interesting dismissal patterns in Kohli's career againsts the oppositions.
[Hint: Stacked Bar Plot]

## Q. Which opposition has Kohli scored most runs against? Find the median score against different oppositions and use a boxplot to represent it?
[Hint: Use barchart & BoxPlot]

## Q. Compare the runs scored by Kohli in 1st innings vs the 2nd innings.
[Hint: Use Boxplot]

## Q. Pre and Post transformation comparison

**It is well known that Kohli started taking fitness much more seriously post an ordinary IPL in 2012. He changed his training regime and eating habits completely, realising the need to transform his body to survive the rigours of playing all three formats.**
<img src="https://cdn.wisden.com/wp-content/uploads/2020/07/Untitled-design-47.png" width="500" height="500" />
<img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSskALcVu6o9iI-7Q_rsehBkQ4PpDN6IAjWwA&usqp=CAU" width="500" height="500" />

**Kohli says it was the absence of fear or respect for him in the opposition's eye that has forced him to change his work ethic
Kohli revealed how working on his fitness has lifted his game after coming back from the Australian tour in 2012
While he considers his idol Tendulkar's skills as a cricketer in a different league, his is a case of pure hard work**

Adding a column giving true for those rows which represent post transformation

In [127]:
mydata['post_transform'] = mydata["Year"]>2012

## Use a Boxplot to compare the runs Scored before and after transformation

## Use a Boxplot to compare the Balls Faced before and after transformation

## Use a Boxplot to compare the runs Scored before and after transformation with Hue as innings(innings wise)

## Use a bar plot to compare the dismissal patterns before and after transformation.
[Hint: Bar Plot]

## Use Pointplot to Visualize Yearly trend in run scored by Virat Kohli
[Hint: pointplot]

## Can we say there is a  linear relationship between RunsScored & BallsFaced over different batting positions?
[Hint: Use LMplot]

## How the batting position has changed with different oppositions yearly?
[Hint: FacetGrid]

                                             **Happy Learning**