In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import f
from scipy.stats import ttest_1samp, ttest_ind
from statsmodels.stats.power import ttest_power
import math
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
df = pd.read_excel("Trough.xlsx")
df

    Width
0   8.312
1   8.343
2   8.317
3   8.383
4   8.348
5   8.410
6   8.351
7   8.373
8   8.481
9   8.422
10  8.476
11  8.382
12  8.484
13  8.403
14  8.414
15  8.419
16  8.385
17  8.465
18  8.498
19  8.447
20  8.436
21  8.413
22  8.489
23  8.414
24  8.481
25  8.415
26  8.479
27  8.429
28  8.458
29  8.462
30  8.460
31  8.444
32  8.429
33  8.460
34  8.412
35  8.420
36  8.410
37  8.405
38  8.323
39  8.420
40  8.396
41  8.447
42  8.405
43  8.439
44  8.411
45  8.427
46  8.420
47  8.498
48  8.409

In [11]:
df.Width.mean()

8.420897959183673

In [12]:
t_stat, p_val = stats.ttest_1samp(a = df["Width"], popmean=8.46)
t_stat
p_val
if p_val < 0.05:
    print("Reject the null")

Reject the null

In [13]:
df_quiz = pd.read_excel("Quiz_Dataset.xlsx")
df_quiz

     US_Cars  Japanese_Cars
0         18           24.0
1         15           27.0
2         18           27.0
3         16           25.0
4         17           31.0
..       ...            ...
245       27            NaN
246       32            NaN
247       28            NaN
248       31            NaN
249       31            NaN

[250 rows x 2 columns]

In [14]:
t_stat, p_val = stats.ttest_ind(a = df_quiz.US_Cars, b = df_quiz.Japanese_Cars, nan_policy="omit")
p_val

1.039146026132831e-29

In [15]:
if p_val < 0.05:
    print("Reject null")

Reject null

In [16]:
mu = 9450
deviation = 250
n = 25
z1 = (9400 - 9450)*np.sqrt(25)/250
z1

-1.0

In [18]:
z2 = (9500-9450)*np.sqrt(25)/250
z2

1.0

In [22]:
p1 = stats.norm.cdf(z1)
p2 = stats.norm.cdf(z2)
p2 - p1

0.6826894921370859