Q1.Check the data types of the below variables:
a=50, b=10.4, c="Hello"

In [5]:
a= 50
print(type(a))
b=10.4
c="Hello"
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

Q2.Check whether the given string is in Upper case?

String - " My Name is Adam"

In [10]:
string = "My Name is Adam"
print(string.isupper())

False

Q3.What is the length of the given string?

String- "My Name is Adam"

In [11]:
String= "My Name is Adam"
print(len(String))

15

Q4.Write a code (using "for" loop) to print the sum of all elements in the list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]?

In [13]:
list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]
sum = 0
for i in list:
    sum = sum + i
print(sum)

91

Q5. Write a python code( using only while loop) which will only print the even numbers from 2 to 12.

In [15]:
i = 2
while i<=12:
    print(i)
    i = i+2

2
4
6
8
10
12

Q6.Write a python code( using the combination of if statement and while loop) which will only print the even numbers from 2 to 12.

In [17]:
i =2 
while i<=12:
    if i%2==0:
        print(i)
    i = i+1

2
4
6
8
10
12

Q7.Write a code( using if-else statement), which will print the minimum of the below given numbers.
x=50,y=30,z=40

In [19]:
x=50
y=30
z=40
if x<y:
    if x<z:
        print(x)
    elif z<y :
        print(z)
else:
    if y<z:
        print(y)
    else:
        print(z)

30