Q1.Check the data types of the below variables:
a=50, b=10.4, c="Hello"

Q2.Check whether the given string is in Upper case?

String - " My Name is Adam"

Q3.What is the length of the given string?

String- "My Name is Adam"

Q4.Write a code (using "for" loop) to print the sum of all elements in the list = [6, 5, 3, 8, 4, 2, 5, 4, 11, 43]?

Q5. Write a python code( using only while loop) which will only print the even numbers from 2 to 12.

Q6.Write a python code( using the combination of if statement and while loop) which will only print the even numbers from 2 to 12.

Q7.Write a code( using if-else statement), which will print the minimum of the below given numbers.
x=50,y=30,z=40