In [6]:
import numpy as np   
import pandas as pd    
import seaborn as sns
from sklearn.linear_model import LinearRegression
import sklearn
from sklearn import metrics
import matplotlib.pyplot as plt   
import matplotlib.style

In [2]:
print(pd.__version__)

1.1.3

In [3]:
print(np.__version__)

1.19.2

In [7]:
print(sklearn.__version__)

0.23.1

In [27]:
df = pd.read_csv("ThreeCars.csv")

In [28]:
df

    Unnamed: 0  Price  Age  Mileage  Porsche  Jaguar  BMW
0            1   69.4    3     21.5        1       0    0
1            2   56.9    3     43.0        1       0    0
2            3   49.9    2     19.9        1       0    0
3            4   47.4    4     36.0        1       0    0
4            5   42.9    4     44.0        1       0    0
..         ...    ...  ...      ...      ...     ...  ...
85          86   26.9    6     68.1        0       0    1
86          87   30.0    6     46.8        0       0    1
87          88   36.0    5     46.8        0       0    1
88          89   38.0    4     36.1        0       0    1
89          90   13.8    7     59.0        0       0    1

[90 rows x 7 columns]

In [35]:
df.drop("Unnamed: 0", axis = 1, inplace = True)

In [36]:
X = df.drop('Price', axis=1)

# Copy target into the y dataframe. 
y = df[['Price']]

In [37]:
regression_model = LinearRegression()

In [38]:
regression_model.fit(X, y)

LinearRegression()

In [39]:
regression_model.score(X,y)

0.7805691333032706

In [40]:
X

    Age  Mileage  Porsche  Jaguar  BMW
0     3     21.5        1       0    0
1     3     43.0        1       0    0
2     2     19.9        1       0    0
3     4     36.0        1       0    0
4     4     44.0        1       0    0
..  ...      ...      ...     ...  ...
85    6     68.1        0       0    1
86    6     46.8        0       0    1
87    5     46.8        0       0    1
88    4     36.1        0       0    1
89    7     59.0        0       0    1

[90 rows x 5 columns]

In [19]:
predict_val = [3,43,1,0,0]

In [45]:
y1= regression_model.predict([predict_val])

In [46]:
y1

array([[49.22226001]])