In [2]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_excel("GDP_Dataset.xlsx")
df

,S.No,Country,Population,Yearly_Change,Land_Area,Population_Density,Migrants_Net,Median_Age,Urban_Population,World_Share_in_Population,GDP,GDP_per_Capita,Share_of_World_GDP,Status
0,1,China,1421021791,0.39,9388211,151.362362,-348399,38,61.0,18.47,12238.000,8.612113,15.12,Developing
1,2,India,1338676785,0.99,2973190,450.249323,-532687,28,35.0,17.70,2651.000,1.980314,3.28,Developing
2,3,United States,325084756,0.59,9147420,35.538409,954806,38,83.0,4.25,19485.000,59.938215,24.08,Developed
3,4,Indonesia,264650963,1.07,1811570,146.089283,-98955,30,56.0,3.51,1015.000,3.835240,1.25,Developing
4,5,Pakistan,207906209,2.00,770880,269.699835,-233379,23,35.0,2.83,305.000,1.467008,0.38,Developing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,181,Vanuatu,77001,2.42,12190,6.316735,120,21,24.0,0.00,0.863,11.207647,0.00,Developing
168,183,Barbados,58058,0.12,430,135.018605,-79,40,31.0,0.00,4.670,80.436805,0.01,Developing
169,187,Sao Tome & Principe,33671,1.91,960,35.073958,-1680,19,74.0,0.00,0.393,11.671765,0.00,Developing
170,188,Samoa,17808,0.67,2830,6.292580,-2803,22,18.0,0.00,0.841,47.225966,0.00,Developing
171,189,Saint Lucia,11370,0.46,610,18.639344,0,34,19.0,0.00,1.740,153.034301,0.00,Developing

In [12]:
df["Status"].value_counts()

Developing    138
Developed      34
Name: Status, dtype: int64

In [14]:
df["Population"].sum()

7305446192

In [19]:
df.loc[df['Median_Age'].idxmax()]

S.No                                11
Country                          Japan
Population                   124777324
Yearly_Change                     -0.3
Land_Area                       364555
Population_Density             342.273
Migrants_Net                     71560
Median_Age                          48
Urban_Population                    92
World_Share_in_Population         1.62
GDP                               4872
GDP_per_Capita                 39.0456
Share_of_World_GDP                6.02
Status                       Developed
Name: 10, dtype: object

In [34]:
df["Urban_Population"][df.Urban_Population > 90].count()

10

In [37]:
df[["Country", "Population_Density"]].sort_values(by = "Population_Density", ascending = False).head(3)

       Country  Population_Density
156      Macao        11146.433333
107  Singapore         7071.362857
97   Hong Kong         6083.929524

In [55]:
GDP_India = df["GDP"][df["Country"] == "India"]
print(GDP_India)
df["GDP"][df["GDP"]>2651.0].count()

1    2651.0
Name: GDP, dtype: float64

4

In [64]:
round(df["GDP_per_Capita"].loc[ (df["GDP"] ==250) & (df["Population"] > 100000000) ],3)

7    1.566
Name: GDP_per_Capita, dtype: float64