In [1]:
# Pandas and Numpy libraries
import pandas as pd
import numpy as np
# For preprocessing the data
from sklearn import preprocessing
# To split the dataset into train and test datasets
from sklearn.model_selection import train_test_split
# To model the Gaussian Navie Bayes classifier
from sklearn.naive_bayes import GaussianNB
# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import zscore
import warnings 
warnings.filterwarnings( "ignore")

In [2]:
df = pd.read_csv("default_2k.csv")

In [3]:
df.head()

  default student     balance        income
0      No      No  412.071615  48347.296982
1      No     Yes  579.721305  18555.752586
2      No      No  694.398583  36570.425441
3      No      No    0.000000  41933.095770
4      No     Yes  407.340440  25376.728632

In [7]:
df_dumies = pd.get_dummies(df, columns=['student'], drop_first=True)
df_dumies.head()

  default     balance        income  student_Yes
0      No  412.071615  48347.296982            0
1      No  579.721305  18555.752586            1
2      No  694.398583  36570.425441            0
3      No    0.000000  41933.095770            0
4      No  407.340440  25376.728632            1

In [8]:
df_dumies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   default      1994 non-null   object
 1   balance      1994 non-null   float64
 2   income       1994 non-null   float64
 3   student_Yes  1994 non-null   uint8
dtypes: float64(2), object(1), uint8(1)
memory usage: 48.8+ KB

In [11]:
df_dumies.default = df_dumies.default.astype("category")

In [12]:
df_dumies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   default      1994 non-null   category
 1   balance      1994 non-null   float64
 2   income       1994 non-null   float64
 3   student_Yes  1994 non-null   uint8
dtypes: category(1), float64(2), uint8(1)
memory usage: 35.3 KB

In [15]:
from sklearn.model_selection import train_test_split
X = df_dumies.drop("default", axis = 1)
y = df_dumies["default"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state =1)

In [16]:
from sklearn.naive_bayes import GaussianNB # using Gaussian algorithm from Naive Bayes

# creatw the model
diab_model = GaussianNB()

In [17]:
diab_model.fit(X_train, y_train)

GaussianNB()

In [18]:
predict_train = diab_model.predict(X_train)

In [19]:
from sklearn import metrics
metrics.accuracy_score(y_train, predict_train)

0.9698924731182795

In [20]:
predict_test = diab_model.predict(X_test)

In [21]:
metrics.accuracy_score(y_test, predict_test)

0.9749582637729549

In [22]:
print(metrics.classification_report(y_test, predict_test))

              precision    recall  f1-score   support

          No       0.97      1.00      0.99       582
         Yes       1.00      0.12      0.21        17

    accuracy                           0.97       599
   macro avg       0.99      0.56      0.60       599
weighted avg       0.98      0.97      0.97       599